<!-- filepath: /Users/chien/Downloads/chiennm/home/templates/navbar.html -->
<nav class="navbar navbar-expand-lg navbar-light bg-light custom-navbar">
    <a class="navbar-brand" href="#">
        <span class="logo-text">MC</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <form class="form-inline ml-auto search-form">
            <input class="form-control search-input" type="search" placeholder="Tìm kiếm" aria-label="Search">
            <button class="btn btn-search" type="submit">
                Tìm kiếm <i class="fas fa-search"></i>
            </button>
        </form>
        <button class="btn btn-dark ml-3 theme-toggle">
            <i class="fas fa-moon"></i>
        </button>
    </div>
</nav>